@model PetManagement.ViewModels.MESSAGE.Message
@{
}

<link href="~/Content/Message.css" rel="stylesheet" />

<!--<img class="avatar" src="~/file/public/user.jpg">--> @*測試*@
<img class="avatar" src="~/IPet/file/public/user.jpg"> @*正式*@
<h4><b>@Model.USER_NAME</b></br><span style="font-size: 0.8em">@Model.CRT_DT</span></h4>
<p>
    @Model.MESSAGE
</p>
@if (@Model.IMG != "")
{
    <img src=@Model.IMG />
}
<br />
<hr />

@*顯示更多留言*@
@if (Model.COMMAND_LIST.Count() > 0)
{
    <a style="font-size: 0.7em; color: #428bca" data-toggle="collapse" href="#command" aria-expanded="false" aria-controls="collapseExample">更多留言...</a>
}

@*顯示留言*@
<div class="collapse" id="command">
    @foreach (var item in Model.COMMAND_LIST)
    {
        if (@item.IMG != "" && @item.IMG != null)
        {
            <img class="sm-avatar" src=@item.IMG>
        }
        else
        {
            <img class="sm-avatar" src="~/IPet/file/public/user.jpg">
        }
        <h5>
            @item.USER_NAME
            <span>
                @item.MESSAGE
            </span>
        </h5>
    }
</div>

@*留言功能*@
<form action="#">
    <div class="input-wrap" style="display:inline;">
        <input style="width:85%;" type="text" name="name" id="name" placeholder="Add your comment" />
        <button style="background-color:white;" type="button" onclick="alert('OK');"><i class="fa fa-share-alt"></i></button>
    </div>
</form>


