@model IEnumerable<PetManagement.ViewModels.MESSAGE.Message>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Message.css" rel="stylesheet" />


<h2><b>論壇中心</b></h2>

@if (Session["userId"] !=null && Session["userId"].ToString() != "")
{
    <div class="box">
        <form enctype="multipart/form-data">
            <div class="input-wrap" style="text-align: right">
                <input type="text" class="inputCommand" name="comment" id="comment" placeholder="Add your comment" required="required" />
                <input type="file" id="fileUploader" style="border:none;" />
                <input type="button" id="Send" value="送出" onclick="SaveCommand()" style="font-size:16px; width: 70px; height: 37px; margin-top:10px;" class="okButton" />
            </div>
        </form>
    </div>
}

@foreach (var item in Model)
{
    <div class="box">
        @{
            Html.RenderAction("_Message", new {id=item.ID, user_id = item.USER_ID, user_img=item.USER_IMG, name = item.USER_NAME, time = item.CRT_DT, message = item.MESSAGE, img = item.IMG, commandList=item.COMMAND_LIST });
        }
    </div>
}

<script type="text/javascript" defer>
    var id = "@(Session["userId"])";
    var name = "@(Session["userName"])";

    function SaveCommand() {
        if ($("#comment").val().trim() === "") {
            swal(
                '提示',
                '評論不可空白',
                'info'
            ).then(function () {
                location.href = location.href;
            })
        }
        else {
            var formData = new FormData();
            formData.append("file", document.getElementById("fileUploader").files[0]);
            formData.append('id', id)
            formData.append('user', name)
            formData.append('comment', $("#comment").val())

            $.ajax({
                url: "@(Url.Action("AddMessage", "Home"))",
                type: "POST",
                data: formData,
                contentType: false, //required
                processData: false, // required
                success: function (data) {
                    location.reload();
                }
            });
        }
    }

    function SendCommand(message_id, comment) {
        var formData = new FormData();
        formData.append("file", null);
        formData.append('upId', message_id)
        formData.append('id', id)
        formData.append('user', name)
        formData.append('comment', comment)
        $.ajax({
            url: "@(Url.Action("AddMessage", "Home"))",
            type: "POST",
            data: formData,
            contentType: false, //required
            processData: false, // required
            success: function (data) {
                addNewCommand(message_id, data, name, comment);
                $('#myComment_' + message_id).val("");
            }
        });

    }

    function addNewCommand(message_id, imgPath, name, comment) {

        //更多留言
        const moreA = document.getElementById("more_" + message_id);
        if (moreA == null) {
            const moreDiv = document.getElementById("moreDiv_" + message_id);
            const a = document.createElement('a');
            a.textContent = '更多留言...';
            a.setAttribute('id', 'more_' + message_id);
            a.setAttribute('style', 'font-size: 0.7em; color: #428bca');
            a.setAttribute('data-toggle', 'collapse');
            a.setAttribute('href', '#' + message_id);
            a.setAttribute('aria-expanded', 'false');
            a.setAttribute('aria-controls', 'collapseExample');
            moreDiv.appendChild(a);
        }

        //動態補上剛剛的留言
        const div = document.getElementById(message_id);
        const img = document.createElement('img');
        const h5 = document.createElement('h5');
        const span = document.createElement('span');
        //圖片
        img.setAttribute('class', 'sm-avatar');
        if (imgPath != "" && imgPath != null && imgPath != "null") {
            img.setAttribute('src', imgPath);
        }
        else {
            img.setAttribute('src', '/IPet/file/public/user.jpg');
        }
        div.appendChild(img);

        h5.textContent = name;
        div.appendChild(h5);

        span.textContent = comment;
        h5.appendChild(span);
    }

        function deleteClick(id) {
                swal({
                    title: '刪除?',
                    text: '確定要刪除該筆討論?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: '確定',
                    cancelButtonText: '取消'
                }).then(
                    function (result) {
                        console.log(result);
                        if (result === true) {
                            $.ajax({
                                url: '@Url.Action("MessageDelete")',
                                dataType: 'json',
                                type: 'POST',
                                async: false,
                                data: { Id: id },
                                success: function (data) {
                                }
                            });
                            swal(
                                '完成',
                                '刪除成功！',
                                'success'
                            ).then(function () {
                            })
                        }
                    }
                ).catch(swal.noop);
            }

</script>